* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  font-family: 'Roboto', sans-serif;
}

main {
  background: #ffffff;
  width: 50vw;
  margin: 1.875rem auto 3.75rem;
  padding: 3.125rem 1.875rem 1.875rem;
  border-radius: 0.7rem;
}

h1 {
  text-align: center;
}

a {
  color: #bf1760;
  text-decoration: none;
}

#rct {
  color: #8258e6;
  text-decoration: none;
}

.title {
  color: #1b1b1b;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.125rem;
  margin-bottom: 1.25rem;
}

.sub-title {
  color: #1b1b1b;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.other-text {
  color: #39393a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.125rem;
}

.no-height {
  line-height: 1.6;
  margin: 15px 0;
}

#fig {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.7rem;
}

.list {
  list-style-position: inside;
}

figcaption {
  color: #8f8f8f;
  font-size: 0.75rem;
  text-align: right;
  line-height: 1.875rem;
}

footer {
  margin-bottom: 2.5rem;
  color: #8f8f8f;
  font-size: 0.75rem;
  text-align: center;
}
